/* ---------------------------------
COLOR PLATTE
Bright Green: var(--wheat)
Dark Green: var(--secondary)
Bright White: #f9f9f9
Dark White: #f1f1f1
Bright Black: #555
Dark Black: #333
--------------------------------- */

/* --------------------------------- */
/* BASTIC SETUP */
/* --------------------------------- */
:root{
	--wheat: wheat;
	--background-white: #ffffff24;
	--secondary: #2b4435;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	background-image: url(../image/landingImage.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #555;
	background-color: #f9f9f9;
	overflow-x: hidden;
	background: linear-gradient(45deg, rgba(0, 0, 0, 0.96), #343434ea);
}
	

/* color for users page selection/mark */
::selection {
	color: #f9f9f9;
	background-color: rgba(46, 204, 113, 0.7);
}

/* --------------------------------- */
/* REUSABLE */
/* --------------------------------- */
section { padding: 70px 0; }

.bg-faint-white{
	background-color: var(--background-white);
}

.text-wheat{
	color: var(--wheat);
}
.box { padding: 1%; }

/* ----- PARAGRAPHS ----- */
.long-copy {
	width: 70%;
	margin-left: 15%;
	line-height: 145%;
}

.box p { 
	line-height: 145%;
	font-size: 90%;
}

/* ----- LAYOUT ----- */
.row {
	max-width: 1140px;
	margin: 0 auto;
}
.col-2 {
	float: left;
	width: 50%;
}
.top-n5{
	margin-top:-5%;
}
.col-75 {
	float: left;
	width: 75%;
}

.clearfix::after {
	display: table;
	content: "";
	clear: both;
}

/*  ----- HEADINGS ----- */
h1,
h2,
h3 { 
	font-weight: 300; 
	text-transform: uppercase;
}

h1 { 
	margin-bottom: 20px;
	font-size: 300%;
	word-spacing: 4px;
	letter-spacing: 1px;
	color: #f1f1f1;
}

h2 {
	margin-bottom: 30px;
	font-size: 180%;
	word-spacing: 2px;
	letter-spacing: 1px;
	text-align: center;
}

h2:not(.updates-header)::after {
	content: " ";
	display: block;
	height: 2px;
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
	border-bottom: 2px solid var(--wheat);
}

h3 {
	margin-bottom: 15px;
	font-size: 130%;
}
/* ----- LINKS ----- */
a:link,
a:visited {
	text-decoration: none;
	color: #333;
	transition: color 0.2s;
}

a:hover,
a:active {
	color: var(--wheat);
}

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type="submit"] {
	display: inline-block;
	padding: 10px 30px;
	border-radius: 200px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	font-weight: 200;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
	/* button type */
	cursor: pointer;
	outline: none;
}

.btn-full:link,
.btn-full:visited,
input[type="submit"] {
	margin-right: 15px;
	border: 1px solid var(--wheat);
	color: black;
	background-color: var(--wheat);
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid var(--wheat);
	color: var(--wheat);
}

.btn:hover,
.btn:active {
	background-color: var(--secondary);
	color: var(--wheat)
}

.btn-full:hover,
.btn-full:active,
input[type="submit"] {
	border: 1px solid var(--secondary);
}

.btn-ghost:hover,
.btn-ghost:active {
	border: 1px solid var(--secondary);
	color: #f1f1f1;
}

.btn-app:link,
.btn-app:visited { border: none; }

.btn-app img {
	width: auto;
	height: 50px;
	margin-right: 10px;
}
.basic_phone{
	height:600px;
	position:relative;
}
/* --------------------------------- */
/* HEADER */
/* --------------------------------- */
header {
	position: relative;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../image/cabinet-wallpaper.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}


header p { 
	margin-bottom: 40px;
	letter-spacing: 1px; 
	color: #f1f1f1;
}

.hero-content {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

nav { padding-top: 20px; }

.logo { 
	display: inline-block;
	float: left;
	margin-top: 10px;
	max-width: 150px;
	height: auto;
}
/* ----- MAIN NAVIGATION ----- */
ul.main-nav {
	list-style-type: none;
	margin: 0;
	margin-top: 10px;
	padding: 0;
	display: flex;
}
ul.main-nav a{
	color:white;
}
/* --------------------------------- */
/* FEATURES */
/* --------------------------------- */
.section-feature { color: white;}
.section-feature .long-copy { margin-bottom: 30px; }

ion-icon[name="phone-portrait-outline"],
ion-icon[name="play-circle-outline"],
ion-icon[name="cloud-download-outline"] {
	margin-bottom: 10px;
	font-size: 250%;
	color: var(--wheat)
}


/* --------------------------------- */
/* STEPS */
/* --------------------------------- */
.steps-section { background-color: var(--background-white); color: white;}

.steps-box { margin-top: 30px; }

.steps-box:first-child { 
	padding-right: 3%;
	text-align: right; 
}

.steps-box:last-child { 
	margin-top: 70px;
	padding-left: 3%;
	text-align: left; 
}

.works-steps {
	list-style-type: none;
	margin: 0;
	padding: 0;
	counter-reset: section;
}

.works-steps li { 
	margin-bottom: 40px;
	font-size: 95%; 
}

.works-steps li:last-child { 
	margin-bottom: 0;
	margin-top: 70px; 
}

.works-steps li::before { 
	counter-increment: section;
    content: counter(section) " ";
    display: inline-block;
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 26px;
    padding: 0px;
    border: 2px solid var(--wheat);
    border-radius: 50%;
    text-align: center;
    font-size: 150%;
    color: var(--wheat);
}

.works-steps li:last-child::before { content: none; }

.mockup-img { 
	display: inline-block;
	width: 100%;
	height: auto;
}

/* --------------------------------- */
/* CONTACT */
/* --------------------------------- */
.contact-section { background-color: #f7f7f7; }

form { 
	width: 50%; 
	margin: 0 auto;
	padding: 10px;
}

form .row { padding: 5px 0; }

form span { font-size: 70%; }

label { vertical-align: middle; }

input[type="text"],
input[type="email"],
select,
textarea {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #efefef;
	transition: border 0.2s;
}

input[type="text"]:focus, 
input[type="email"]:focus, 
select:focus, 
textarea:focus { border: 1px solid #2fcc71; }

input[type="checkbox"] { margin: 10px 5px 10px 0; }

textarea { 
	height: 150px; 
	resize: none;
	font-family: Arial, Sans-Serif;
}

/* --------------------------------- */
/* UPDATES */
/* --------------------------------- */
.updates-section {
	position: relative;    
	background: var(--background-white);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 30vh;
}

.updates-text {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.updates-header,
.updates-header + p { color: #f1f1f1; 
	text-transform: capitalize;}

.updates-header + p { margin-bottom: 30px; }

.updates-header { font-size: 250%; }

.updates-header span { 
	color: var(--wheat);
}

/* --------------------------------- */
/* LAYOUT */
/* --------------------------------- */

.outer {
    width: 100%; /* Full width */
    min-height: 100vh; /* Minimum height is full viewport height, or any specific value you want */
    display: flex; /* Using flexbox */
    justify-content: center; /* Centering content horizontally */
    align-items: stretch; /* Stretching children to fit vertically */
}

.device {
    width: 100%; /* Full width of its parent */
    height: 100%; /* Full height of its parent */
    display: flex; /* You can use flexbox here too if needed for inner elements */
    align-items: center; /* Centering inner content vertically */
    justify-content: center; /* Centering inner content horizontally */
}

.phone {
	background: url(../image/QuickMix.png) no-repeat;
	margin-left: auto;
	height: 60vh;
	width: 20vw;
	background-size: cover;
  }
  
  .phone2 {
	background: url(../image/TopShelf.png) no-repeat;
	background-size: cover;
  }
  
  .phone3 {
	background: url(../image/Mixology.png) no-repeat;
	background-size: cover;
  }
  
  .phone4 {
	background: url(../image/Mixology-option.png) no-repeat;
	background-size: cover;
  }
  .phone5 {
	background: url(../image/Drink-option.png) no-repeat;
	background-size: cover;
  }
  
.text {
    margin: 10% 0 10% 0;
    width: 100%;
    height: auto;
}
.text h1 {
    color: wheat;
}
.text p {
    color: white;
}
.text .fade-item {
    opacity: 0;
    width: 445px;
    padding-bottom: 150px;
}
.text .fade-item:last-child {
    
}

/* --------------------------------- */
/* FOOTER */
/* --------------------------------- */

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: var(--wheat);
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--wheat);
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: var(--wheat);
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: var(--wheat);
    padding: 13px 20px;
    border: 1px solid var(--wheat);
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: var(--wheat);
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: var(--wheat);
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}



































